<?xml version="1.0"?>

<!--
	http://www.generationrobots.com/blog/en/2015/02/robotic-simulation-scenarios-with-gazebo-and-ros/#create your own robot model

	http://gazebosim.org/tutorials?cat=guided_b&tut=guided_b3
-->

<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:property name="PI" value="3.1415926535897931"/>

	<xacro:property name="chassisHeight" value="0.08"/>
	<xacro:property name="chassisLength" value="0.175"/>
	<xacro:property name="chassisWidth" value="0.11"/>
	<xacro:property name="chassisMass" value="0.5"/>

	<!--xacro:property name="casterRadius" value="0.05"/>
	<xacro:property name="casterMass" value="5"/-->

	<xacro:property name="wheelWidth" value="0.026"/>
	<xacro:property name="wheelRadius" value="0.037"/>
	<xacro:property name="wheelPos" value="0.11"/>
	<xacro:property name="wheelMass" value="0.01"/>

	<!--xacro:property name="cameraSize" value="0.05"/>
	<xacro:property name="cameraMass" value="0.1"/-->

	<xacro:include filename="$(find my_robot_description)/urdf/old/my_robot.gazebo" />
	<xacro:include filename="$(find my_robot_description)/urdf/old/materials.xacro" />
	<xacro:include filename="$(find my_robot_description)/urdf/old/macros.xacro" />



	<link name='chassis'>
		<collision> 
			<origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
			<geometry> 
				<box size="${chassisLength} ${chassisWidth} ${chassisHeight}"/> 
			</geometry> 
		</collision>
		<visual> 
			<origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
			<geometry> 
				<box size="${chassisLength} ${chassisWidth} ${chassisHeight}"/> 
			</geometry> 
			<material name="orange"/>
		</visual>
		<inertial> 
			<origin xyz="0 0 ${wheelRadius}" rpy="0 0 0"/> 
			<mass value="${chassisMass}"/> 
			<box_inertia m="${chassisMass}" x="${chassisLength}" y="${chassisWidth}" z="${chassisHeight}"/>
		</inertial>
	</link>


	<link name="footprint" />

		<joint name="base_joint" type="fixed">
		<parent link="footprint"/>
		<child link="chassis"/>
	</joint>

</robot>