<launch>

	<!--
		$ roslaunch my_robot_description display.launch model:=`rospack find my_robot_description`/urdf/my_robot.urdf
	-->

  <arg name="model" 
  	   default="$(find my_robot_description)/urdf/old/my_robot.xacro"/>

  <arg name="gui" 
  	   default="true" />

  <arg name="rvizconfig" 
  	   default="$(find my_robot_description)/rviz/urdf.rviz" />

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" 
  		 command="$(find xacro)/xacro.py $(arg model)" />

  <param name="use_gui" 
  		 value="$(arg gui)"/>

  <node name="joint_state_publisher" 
  		pkg="joint_state_publisher" 
  		type="joint_state_publisher" />

  <node name="robot_state_publisher" 
  		pkg="robot_state_publisher" 
  		type="state_publisher" />

  <node name="rviz" 
  		pkg="rviz" 
  		type="rviz" 
  		args="-d $(arg rvizconfig)" 
  		required="true" />

</launch>
