<launch>

  <arg name="model" 
  	   default="$(find my_robot_description)/urdf/my_robot.xacro"/>

  <arg name="gui" 
  	   default="true" />

  <arg name="rvizconfig" 
  	   default="$(find my_robot_description)/rviz/my_robot.rviz" />

  <!-- ###################################################################### -->

  <!-- 
    Converts the xacro robot information to UDRF and use it as a robot_description parameter
  -->
  <param name="robot_description" 
  		   command="$(find xacro)/xacro $(arg model)" />

  <param name="use_gui" 
  		   value="$(arg gui)"/>

  <!-- ###################################################################### -->

  <!--
    Reads the robot model description, finds all joints, and publishes joint values to all nonfixed joints using GUI sliders. 
  -->
  <node name="joint_state_publisher" 
    		pkg="joint_state_publisher" 
    		type="joint_state_publisher" />

  <!-- 
    Reads the current robot joint states and publishes the 3D poses of each robot link using the kinematics tree build from the URDF. The 3D pose of the robot is published as ROS tf (transform). 
  -->
  <node name="robot_state_publisher" 
    		pkg="robot_state_publisher" 
    		type="state_publisher" />

  <!-- Show in Rviz -->
  <node name="rviz" 
    		pkg="rviz" 
    		type="rviz" 
    		args="-d $(arg rvizconfig)" 
    		required="false" />

</launch>
