<?xml version="1.0"?>

<model>
  <name>My Differential-drive Mobile Robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Emiliano Borghi</name>
   <email>emiliano.borghi@yahoo.com</email>
  </author>

  <description>
    Testing the robot with Gazebo.
  </description>
</model>