<?xml version="1.0" ?>

<!-- 
  Velpdyme HDL-32E 
  http://velodynelidar.com/hdl-32e.html

  http://gazebosim.org/tutorials?cat=guided_i&tut=guided_i1
  http://gazebosim.org/tutorials

  Another approach:
    https://github.com/richardw05/mybot_ws/tree/master/src
    Nav: http://moorerobots.com/blog/post/3


  - Control plugin: http://gazebosim.org/tutorials?tut=guided_i5
  - Hokuyo LIDAR: http://amanbreakingthings.blogspot.com.ar/2014/11/adding-hokuyo-lidar-to-turtlebot-in-ros.html
  - RRBot plugins: http://gazebosim.org/tutorials?tut=ros_gzplugins
  - Modelling PPT: https://ni.www.techfak.uni-bielefeld.de/files/URDF-XACRO.pdf
  - URDF PPT: http://wustl.probablydavid.com/publications/URDFandYou.pdf
  - Gazebo Links: http://gazebosim.org/tutorials/?tut=ros_urdf#Links
  - Turtlebot 3: https://github.com/ROBOTIS-GIT/turtlebot3/blob/master/turtlebot3_description/urdf/turtlebot3_waffle.urdf.xacro
  - Turtlebot: https://github.com/turtlebot/turtlebot/blob/kinetic/turtlebot_description/urdf/sensors/kinect.urdf.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Robot constants and properties -->
  <xacro:include filename="$(find my_robot_description)/urdf/my_robot_properties.xacro" />
  <!-- Inertia matrices -->
  <xacro:include filename="$(find my_robot_description)/urdf/macros.xacro" />


  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${casterOffsetX} 0 ${hokuyoOffsetZ}" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="hokuyo"/>
  </joint>

  <!-- Hokuyo Laser -->
  <link name="hokuyo">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="
          ${hokuyoLength} 
          ${hokuyoWidth} 
          ${hokuyoHeight}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="${hokuyoMass}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia 
        m="${hokuyoMass}" 
        x="${hokuyoLength}" 
        y="${hokuyoWidth}" 
        z="${hokuyoHeight}"/>
    </inertial>
  </link>

</robot>