<?xml version="1.0" ?>

<!-- 
  https://www.youtube.com/watch?v=HIK1KBw-Jn4

  http://moorerobots.com/blog/post/3

  https://github.com/richardw05/mybot_ws/tree/master/src

  https://github.com/qboticslabs/Chefbot_ROS_pkg

  https://answers.ros.org/question/249568/no-such-file-or-directory-gmappinglaunchxml-or-amcllaunchxml-under-turtlebot_navigationlaunchincludes/

  http://wiki.ros.org/navigation/Tutorials

-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Robot constants and properties -->
  <xacro:include filename="$(find my_robot_description)/urdf/my_robot_properties.xacro" />
  <!-- Inertia matrices -->
  <xacro:include filename="$(find my_robot_description)/urdf/macros.xacro" />
  <!-- Gazebo aspects of the robot -->
  <xacro:include filename="$(find my_robot_description)/urdf/my_robot.gazebo" />


  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="${cameraLength} 
                   ${cameraWidth} 
                   ${cameraHeight}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="${cameraLength} 
                   ${cameraWidth} 
                   ${cameraHeight}"/>
      </geometry>
      <material name="green"/>
    </visual>

    <inertial>
      <mass value="${cameraMass}" />
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <xacro:box_inertia m="${cameraMass}" 
                   x="${cameraLength}" 
                   y="${cameraWidth}" 
                   z="${cameraHeight}" />
    </inertial>

  </link>


  <joint name="camera_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${cameraOffsetX} 0 ${cameraOffsetZ}" 
            rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="camera_link"/>
  </joint>


  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${hokuyoOffsetX} 0 ${hokuyoOffsetZ}" 
            rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="hokuyo_link"/>
  </joint>


  <!-- Hokuyo Laser -->
  <link name="hokuyo_link">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="${hokuyoLength} 
                   ${hokuyoWidth} 
                   ${hokuyoHeight}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="${hokuyoMass}" />
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <xacro:box_inertia 
        m="${hokuyoMass}" 
        x="${hokuyoLength}" 
        y="${hokuyoWidth}" 
        z="${hokuyoHeight}"/>
    </inertial>

  </link>

</robot>
