<?xml version="1.0" ?>

<!-- 
  https://www.youtube.com/watch?v=HIK1KBw-Jn4

  http://moorerobots.com/blog/post/3

  https://github.com/richardw05/mybot_ws/tree/master/src

  https://github.com/richardw05/mybot_ws/blob/master/src/mybot_description/launch/mybot_rviz.launch

  https://github.com/richardw05/mybot_ws/blob/master/src/mybot_description/launch/mybot_rviz_amcl.launch

  https://github.com/richardw05/mybot_ws/blob/master/src/mybot_description/launch/mybot_rviz_gmapping.launch

-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Robot constants and properties -->
  <xacro:include filename="$(find my_robot_description)/urdf/my_robot_properties.xacro" />
  <!-- Inertia matrices -->
  <xacro:include filename="$(find my_robot_description)/urdf/macros.xacro" />


  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${casterOffsetX} 0 ${hokuyoOffsetZ}" rpy="0 0 0"/>
    <parent link="chassis"/>
    <child link="hokuyo"/>
  </joint>

  <!-- Hokuyo Laser -->
  <link name="hokuyo">
    <collision>
      <origin xyz="0 0 0" 
              rpy="0 0 0"/>
      <geometry>
        <box size="
          ${hokuyoLength} 
          ${hokuyoWidth} 
          ${hokuyoHeight}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="${hokuyoMass}" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <box_inertia 
        m="${hokuyoMass}" 
        x="${hokuyoLength}" 
        y="${hokuyoWidth}" 
        z="${hokuyoHeight}"/>
    </inertial>
  </link>

</robot>