<launch>

  <!-- Map server -->
  <arg name="map_file" 
       default="$(find my_robot_gazebo)/maps/playground.yaml"/>

  <node name="map_server" 
        pkg="map_server" 
        type="map_server" 
        args="$(arg map_file)" >
        <param name="frame_id" value="/odom" />
  </node>

  <!-- Publish a static transformation between /odom and /map -->
  <node name="tf"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 /map /odom 100"/>

  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  
  <!--arg name="3d_sensor" 
       default="$(env MY_ROBOT_3D_SENSOR)"/-->
  <arg name="3d_sensor"
       default="astra"/>
  <arg name="custom_amcl_launch_file" 
       default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/> 
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find my_robot_bringup)/launch/includes/move_base.launch.xml"/>

  <include file="$(find my_robot_gazebo)/launch/my_robot_world.launch"/>

</launch>
