<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="world" 
         default="empty"/> 
    <arg name="paused" 
         default="false"/>
    <arg name="use_sim_time" 
         default="true"/>
    <arg name="gui" 
         default="true"/>
    <arg name="headless" 
         default="false"/>
    <arg name="debug" 
         default="false"/>

    <env name="GAZEBO_MODEL_PATH" 
         value="$(find my_robot_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- arg name="world_name" value="$(arg world)"/>  -->
    <arg name="paused" 
         value="$(arg paused)"/>
    <arg name="use_sim_time" 
         value="$(arg use_sim_time)"/>
    <arg name="gui" 
         value="$(arg gui)"/>
    <arg name="headless" 
         value="$(arg headless)"/>
    <arg name="debug" 
         value="$(arg debug)"/>
  </include>

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="my_robot_description" 
         command="$(find xacro)/xacro.py --inorder '$(find my_robot_description)/urdf/old/my_robot.xacro'" />

  <!-- Spawn the robot into Gazebo -->
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_urdf" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        args="-file $(find my_robot_gazebo)/models/model.sdf -sdf -model my_robot" />

</launch>

