<?xml version="1.0"?>

<launch>

  <!-- C++ action server node -->
  <node
  	pkg    = "pid_wheels" 
  	type   = "PID_Server" 
  	name   = "PID_Server" 
  	output = "screen"
  />

  <!-- C++ action client node -->
  <node
  	pkg    = "pid_wheels" 
  	type   = "PID_Client" 
  	name   = "PID_Client" 
  	output = "screen"
  />

  <!-- Arduino node -->
  <include
    file = "$(find arduino_actuators)/launch/execute.launch"
  />

</launch>
