<!-- 
	This is a test launch file made in order to verify the correct 	working of the packages.
	To test it, it's necessary to publish the linear and angular velocities:

	$ rostopic pub /cmd_vel_mux/input/teleop TAB-TABrosto   TAB-TAB
-->

<launch>

  <node
  	pkg    = "pid_wheels" 
  	type   = "PID_Server" 
  	name   = "PID_Server" 
  	output = "screen"
  />

  <node
  	pkg    = "pid_wheels" 
  	type   = "PID_Client" 
  	name   = "PID_Client" 
  	output = "screen"
  />

  <include
    file = "$(find control_node)/launch/execute.launch"
  />

  <include
    file = "$(find arduino_actuators_launch)/launch/execute.launch"
  />
</launch>