<launch>

    <arg name="cmd_vel_topic" default="my_robot/cmd_vel"/>
    <arg name="odom_topic" default="my_robot/odom" /> 

    <arg name="rvizconfig"
         default="$(find my_robot_description)/rviz/navigation.rviz"/>

    <!-- Run slamp_gmapping -->
    <include file="$(find my_robot_navigation)/launch/slam_gmapping.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>

    <node pkg="move_base"
          type="move_base"
          name="move_base"
          respawn="false"
          output="screen">

          <rosparam file="$(find my_robot_navigation)/config/costmap_common_params.yaml"
                    command="load"
                    ns="global_costmap"/>

          <rosparam file="$(find my_robot_navigation)/config/costmap_common_params.yaml"
                    command="load"
                    ns="local_costmap"/>

          <rosparam file="$(find my_robot_navigation)/config/local_costmap_params.yaml"
                    command="load"/>

          <rosparam file="$(find my_robot_navigation)/config/global_costmap_params.yaml"
                    command="load"/>

          <rosparam file="$(find my_robot_navigation)/config/base_local_planner_params.yaml"
                    command="load"/>

          <remap from="cmd_vel" 
                 to="$(arg cmd_vel_topic)"/>

          <remap from="odom" 
                 to="$(arg odom_topic)"/>

    </node>

</launch>