<launch>

    <arg name="rvizconfig"
         default="$(find my_robot_description)/rviz/slam.rviz"/>

    <include file="$(find my_robot_gazebo)/launch/my_robot_world.launch">
        <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    </include>

    <node name="slam_gmapping" 
          pkg="gmapping" 
          type="slam_gmapping">

          <rosparam file="$(find my_robot_navigation)/config/slam_gmapping_params.yaml" />
          <remap from="scan" to="/my_robot/laser/scan" />

    </node>

</launch>